<a href="https://colab.research.google.com/github/AmanAryan007/Data_Science_intern/blob/main/duplicate_unique_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import gc
df = pd.read_excel("/content/drive/MyDrive/dataaaa/MASTER 2 - short.xlsx")

In [16]:
# Remove duplicate values from Column1
df_unique = df['PHONE'].drop_duplicates()

print("DataFrame with Duplicate Values Removed:")
print(df_unique)

DataFrame with Duplicate Values Removed:
0          9162470038
1          4798563481
2          7606417114
3          7245135985
4          6142863855
             ...
229180     9037772619
229181     6602882006
229182     9792331212
229183     3176541817
229184    760-5034182
Name: PHONE, Length: 229178, dtype: object

In [17]:
df['UniqueValues'] = df_unique

In [18]:
df.columns

Index(['PHONE', 'PHONE.1', 'PHONE.2', 'PHONE.3', 'PHONE.4', 'PHONE.5',
       'UniqueValues'],
      dtype='object')

In [28]:
# Combine the values from both columns
combined_values = pd.concat([df['UniqueValues'], df['PHONE.4']])

# Count the occurrences of each value
duplicate_counts = combined_values.value_counts()

# Exclude self-matching duplicates
duplicate_counts = duplicate_counts[duplicate_counts > 1]

print("Duplicate Counts:")
print(duplicate_counts)

Duplicate Counts:
8592704992    3
3522075499    3
9175197020    3
9099273834    3
6104822417    3
             ..
3524253317    2
9722677661    2
7793480231    2
4242151796    2
3137595221    2
Length: 13704, dtype: int64

UNIQUE VALUE------

In [23]:
# Find the unique values in 'Column2' compared to 'Column1'
unique_values3 = df.loc[~df['UniqueValues'].isin(df['PHONE.1']), 'UniqueValues'].unique()

print("Unique Values in 'Column2' compared to 'Column1':")
print(unique_values3)

Unique Values in 'Column2' compared to 'Column1':
[9162470038 4798563481 7606417114 ... 9792331212 3176541817 '760-5034182']

In [24]:
new_df = pd.DataFrame({'PHONE': unique_values3})

In [26]:
new_df.to_csv('UNIQUE_PHONE.csv', index=False)

print("New DataFrame saved as 'unique_values_column2.csv'")

New DataFrame saved as 'unique_values_column2.csv'